- content_for(:js) do
  = javascript_include_tag('jquery-1.3.2')
  = javascript_include_tag('jquery-ui-1.7.2.everything.min')
  = javascript_include_tag('visits-sorting')
%h1
  Welcome, Xavier!
  %span.header_link
    (
    = link_to('Switch users', :action => 'index')
    )

#day-selector
  %a{:href => '', :class => 'wed'} Wednesday
  %a{:href => '', :class => 'thu'} Thursday
  %a{:href => '', :class => 'fri'} Friday
.visits
  .scheduled
    %h2 Scheduled Visits
    %h3 This Week
    %ul
      - Child.find(:all, :limit => 5).each do |child|
        %li[child]
          .image= link_to(image_tag(child.headshot.url, :size => '38x38'), :action => 2)
          .details
            .name=h child.name
            .day= %w(Wednesday Thursday Friday).rand
          .location
            = %w(Arusha Marangu Sanya\ Juu).rand

    %h3 Next Week
    %ul
      - Child.find(:all, :limit => 3, :offset => 20).each do |child|
        %li[child]
          .image= link_to(image_tag(child.headshot.url, :size => '38x38'), :action => 2)
          .details
            .name=h child.name
            .day= %w(Wednesday Thursday Friday).rand
          .location
            = %w(Arusha Marangu Sanya\ Juu).rand

  .recommended
    %h2 Recommended Visits
    %h3 Not seen recently
    %ul
      - Child.find(:all, :limit => 1, :offset => 20).each do |child|
        %li[child]
          .image= link_to(image_tag(child.headshot.url, :size => '38x38'), :action => 2)
          .details
            .name=h child.name
            .day Hasn't had a visit in 6 weeks.
          .location
            = %w(Arusha Marangu Sanya\ Juu).rand

.tasks
  %h2 Tasks
  %ul
    %li= link_to('Print the roll call form for today', onsite_children_path(:format => :pdf))
    %li= link_to('Enter a new child', new_child_path)
    %li= link_to('View statistics', statistics_path)
