- content_for(:js) do
  = javascript_include_tag('jquery-1.3.2')
  = javascript_include_tag('jquery-ui-1.7.2.everything.min')
  = javascript_include_tag('visits-sorting')
- content_for(:css) do
  = stylesheet_link_tag('jquery-ui-1.7.2.custom')
#completed-dialog
  - form_for(HomeVisit.new, :url => {:action => 1}) do |f|
    = f.label :notes
    %br
    = f.text_area :notes
    %br
    = f.submit "Hariri"
%h1
  Karibu, Xavier!
  %span.header_link
    (
    = link_to('Mtu mwingine', :action => 'index')
    )

.visits
  .scheduled
    %h2 Matembezi
    %h3 Wiki hii
    %h4 Jumatano
    %ul
    %h4 Alhamisi
    %ul
      = render :partial => 'child', :collection => Child.find(:all, :limit => 3), :locals => {:show_completed => true}
    %h4 Ijumaa
    %ul
      = render :partial => 'child', :collection => Child.find(:all, :limit => 2, :offset => 4)

    %h3 Wiki ijayo
    %h4 Jumatano
    %ul
      = render :partial => 'child', :collection => Child.find(:all, :limit => 2, :offset => 7)
    %h4 Alhamisi
    %ul
      = render :partial => 'child', :collection => Child.find(:all, :limit => 1, :offset => 9)
    %h4 Ijumaa
    %ul
      = render :partial => 'child', :collection => Child.find(:all, :limit => 1, :offset => 10)

  .recommended
    %h2 Matembezi tunayopendeleza
    %h3 Hatujawatembelea hivi karibuni
    %ul
      = render :partial => 'child', :collection => Child.find(:all, :limit => 4, :offset => 30)

.tasks
  %h2 Shughuli
  %ul
    %li= link_to('Chapisha mahudhurio ya leo', onsite_children_path(:format => :pdf))
    %li= link_to('Mwingiza mtoto mgeni', new_child_path)
    %li= link_to('Angalia ripoti', statistics_path)
