.section.statistics
  %table
    %tbody
      %tr
        %th= t('.on_site')
        %td.big= @statistics.child_count(:on_site)
      %tr
        %th= t('.boarding_offsite')
        %td= @statistics.child_count(:boarding_offsite)
      %tr
        %th= t('.dropped_out')
        %td= @statistics.child_count(:dropped_out)
      %tr
        %th= t('.terminated')
        %td= @statistics.child_count(:terminated)

  %table
    %tbody
      %tr
        %th= t('.reunified.this_year')
        %td.big= @statistics.reunification_count_since(Date.today.at_beginning_of_financial_year)
      %tr
        %th= t('.reunified.past_30_days')
        %td= @statistics.reunification_count_since(30.days.ago)
      %tr
        %th= t('.reunified.past_180_days')
        %td= @statistics.reunification_count_since(180.days.ago)
      %tr
        %th= t('.reunified.all_time')
        %td= @statistics.child_count(:reunified)

.section.length_of_stay
  %h2= t('.length_of_stay')
  = tag(:object, :type => Mime::SVG, :data => length_of_stay_statistics_path(:format => :svg), :width => 600, :height => 200)
