- js :scheduled_visits

%h1
  %span.name= t('.welcome', :name => current_user.friendly_name)
  %span.actions= link_to(t('.switch_user'), session_path, :method => :delete)

.scheduled
  %h2= t('.scheduled_visits')
  .visits.overdue=  render 'grouped_visits', :object => overdue_by_week_and_day(@scheduled_visits)
  .visits.upcoming= render 'grouped_visits', :object => upcoming_by_week_and_day(@scheduled_visits)

.recommended
  %h2= t('.recommended_visits')
  %h3= t('.neglected')
  .visits.neglected
    %ul= render :partial => 'visit', :collection => @recommended_visits
