%h1
  = link_to @child.name, @child

%h2= Termination.human_name

- form_for [@child, @termination] do |form|
  .field
    = form.label :happened_on
    = form.date_select :happened_on
  .submit
    = form.submit t('terminations.new.submit')
