%ul#subnavigation
  %li= link_to_with_current t('children.onsite.tab'), onsite_children_path
  %li= link_to_with_current t('children.boarding_offsite.tab'), boarding_offsite_children_path
  %li= link_to_with_current t('children.reunified.tab'), reunified_children_path
  %li= link_to_with_current t('children.terminated.tab'), terminated_children_path
  %li= link_to_with_current t('children.dropped_out.tab'), dropped_out_children_path
