= render :partial => 'children/header', :locals => { :child => @child }
%h2= t('children.headshot.title')

- form_for @child, :html => { :multipart => true } do |form|
  = form.error_messages

  .field
    = form.label :headshot
    = form.file_field :headshot

  .submit
    = form.submit t('children.headshot.submit')