- form_for @child do |form|
  .field
    = form.label :name
    = form.text_field :name

  - form.fields_for :arrivals do |arrival_form|
    .field
      = arrival_form.label :happened_on
      = arrival_form.date_select :happened_on

  .submit
    = form.submit
