= render :partial => 'children/subnavigation'
%h1= t('children.onsite.title')

%ul.actions
  %li= link_to t('children.new.link'), new_child_path
  %li= link_to t('children.onsite.pdf.link'), onsite_children_path(:format => :pdf)

= render @children