%h1 Potential Duplicates Found

- @child.potential_duplicates.each do |child|
  - form_for [child, @child.arrivals.last] do |form|
    .hidden
      = form.date_select :happened_on, {}, { :style => 'display:none' }
    .submit
      = child.name
      = form.submit "Record arrival on #{form.object.happened_on.to_s(:long)}"

- form_for @child do |form|
  .hidden
    = form.hidden_field :name
    - form.fields_for :arrivals do |arrival_form|
      = arrival_form.date_select :happened_on, {}, { :style => 'display:none' }

  .submit
    Or, if you're sure,
    = form.submit 'Create a New Case File', :name => 'child[ignore_potential_duplicates]'