%h1= t('children.create.potential_duplicates.title')

%h2= t('children.create.potential_duplicates.subtitle')
= render @child.potential_duplicates

- form_for @child do |form|
  .hidden
    = form.hidden_field :name
  .submit
    = t('children.create.potential_duplicates.submit_leader')
    = form.submit t('children.create.potential_duplicates.submit', :name => @child.name), :name => 'child[ignore_potential_duplicates]'
