%h1= @child.name

= image_tag @child.headshot.url, :class => 'headshot'

%ul
  %li= link_to t('children.edit.link'), edit_child_path(@child)
  %li= link_to t('children.headshot.edit.link'), edit_child_headshot_path(@child)
  %li
    = link_to t('children.social_worker.edit.link'), edit_child_social_worker_path(@child)
    - if @child.social_worker
      = link_to @child.social_worker_name, @child.social_worker
    - else
      = t('children.show.social_worker.unassigned')


%h2= t('children.show.timeline')

%ul.actions
  %li= t('children.show.record')
  %li= link_to t('children.arrivals.new.link'), new_child_arrival_path(@child)
  %li= link_to t('children.home_visits.new.link'), new_child_home_visit_path(@child)
  %li= link_to t('children.offsite_boardings.new.link'), new_child_offsite_boarding_path(@child)
  %li= link_to t('children.reunifications.new.link'), new_child_reunification_path(@child)
  %li= link_to t('children.dropouts.new.link'), new_child_dropout_path(@child)
  %li= link_to t('children.terminations.new.link'), new_child_termination_path(@child)

%table.timeline
  - @child.events.each do |event|
    %tr
      %td= event.class.human_name
      %td= l event.happened_on, :format => :long
