%h1= @child.name

= image_tag @child.headshot.url, :class => 'headshot'
= link_to t('headshots.edit.link'), edit_child_headshot_path(@child)

%h2= t('children.show.timeline')

%ul.actions
  %li= t('children.show.record')
  %li= link_to t('arrivals.new.link'), new_child_arrival_path(@child)
  %li= link_to t('home_visits.new.link'), new_child_home_visit_path(@child)
  %li= link_to t('offsite_boardings.new.link'), new_child_offsite_boarding_path(@child)
  %li= link_to t('reunifications.new.link'), new_child_reunification_path(@child)
  %li= link_to t('dropouts.new.link'), new_child_dropout_path(@child)
  %li= link_to t('terminations.new.link'), new_child_termination_path(@child)

%table.timeline
  = render @child.events
