%h1
  %span.name= h(@child.name)
  %span.actions= link_to(t('.dashboard'), root_path)

.details
  .locations
    %span.state= t(@child.state, :scope => 'state')
    - unless @child.location.blank?
      %span.location= t('.location', :location => h(@child.location))
  .social_worker
    = h(@child.social_worker_name || t('.no_social_worker'))

.headshot
  = image_tag(@child.headshot.url)

%h2= t('.timeline')
%table.timeline
  - @child.events.each do |event|
    - if event.is_a?(HomeVisit)
      %tr
        %td.date= l(event.happened_on, :format => :human)
        %td.notes= event.notes.blank? ? t('.home_visit') : h(event.notes)
    - else
      %tr.event
        %td{:colspan => 2}
          = t(event.to_state, :date => event.happened_on, :scope => 'state.sentence')

%h2= t('.scheduled_visits')
%table.scheduled_visits
  - @child.scheduled_visits.each do |visit|
    %tr
      %td.date= l(visit.scheduled_for, :format => :human)
      %td.actions

