%h1= @child.name

= image_tag @child.headshot.url, :class => 'headshot'

%ul
  %li= link_to t('children.edit.link'), edit_child_path(@child)
  %li= link_to t('children.headshot.edit.link'), edit_child_headshot_path(@child)
  - unless @child.case_assignment
    %li= link_to t('children.case_assignment.new.link'), new_child_case_assignment_path(@child)

- if @child.case_assignment
  %h2= link_to @child.social_worker.name, @child.social_worker
  = image_tag @child.social_worker.headshot.url, :class => 'headshot'

%h2= t('children.show.timeline')

%ul.actions
  %li= t('children.show.record')
  %li= link_to t('arrivals.new.link'), new_child_arrival_path(@child)
  %li= link_to t('home_visits.new.link'), new_child_home_visit_path(@child)
  %li= link_to t('offsite_boardings.new.link'), new_child_offsite_boarding_path(@child)
  %li= link_to t('reunifications.new.link'), new_child_reunification_path(@child)
  %li= link_to t('dropouts.new.link'), new_child_dropout_path(@child)
  %li= link_to t('terminations.new.link'), new_child_termination_path(@child)

%table.timeline
  - @child.events.each do |event|
    %tr
      %td= event.class.human_name
      %td= l event.happened_on, :format => :long
