- content_for(:css) do
  = stylesheet_link_tag('jquery-ui-1.7.2.custom')
  = stylesheet_link_tag('datepicker')

- js 'inline_edit'
- js 'child_scheduled_visits'

- form_for(@child, :html => { :multipart => true, :id => 'edit-child' }) do |form|
  %h1
    %span.name
      %span.show= h(@child.name)
      %span.edit= form.text_field :name

      %span.actions= link_to(t('.dashboard'), root_path)

  .details
    .locations
      %span.state= t(@child.state, :scope => 'state') + ','
      %span.location
        %span.show
          - unless @child.location.blank?
            = t('.from')
            = h(@child.location)
        %span.edit
          = t('.from')
          = form.text_field :location
    .social_worker
      %span.show
        = h(@child.social_worker_name || t('.no_social_worker'))
      %span.edit= form.collection_select :social_worker_id, Caregiver.all, :id, :name, :include_blank => t('.no_social_worker')
    .headshot.edit
      = form.label :headshot
      = form.file_field :headshot

  .headshot.show
    = image_tag(@child.headshot.url)

  #inline-edit-links
    %span.show
      = link_to(t('form.edit'), {}, :id => 'edit-link')
    %span.edit
      = link_to(t('form.cancel'), {}, :id => 'cancel-link')
      = form.submit t('form.save'), :id => 'save-link'

%h2= t('.timeline')
%table.timeline
  - @child.events.each do |event|
    - if event.is_a?(HomeVisit)
      %tr
        %td.date= l(event.happened_on, :format => :human)
        %td.notes= event.notes.blank? ? t('.home_visit') : h(event.notes)
    - else
      %tr.event
        %td{:colspan => 2}
          = t(event.to_state, :date => event.happened_on, :scope => 'state.sentence')

%h2= t('.scheduled_visits')
%table.scheduled_visits
  - @child.scheduled_visits.each do |visit|
    %tr.scheduled_visit
      %td.date
        - form_for(visit) do |f|
          %span.show
            = l(visit.scheduled_for, :format => :human)
          = f.text_field :scheduled_for, :class => 'date-field edit', :readonly => true, :id => "scheduled_for_#{visit.id}"

      %td.actions
        = link_to(t('form.complete'), complete_scheduled_visit_path(visit), :method => :put)
        &middot;
        = link_to(t('form.edit'), {}, :class => 'edit-scheduled-visit')
        &middot;
        = link_to(t('form.unschedule'), scheduled_visit_path(visit), :method => :delete)
  %tr.scheduled_visit
    %td.date
      - form_for(ScheduledVisit.new) do |f|
        = hidden_field_tag :child_id, @child.id
        = f.text_field :scheduled_for, :class => 'date-field new', :id => 'new_scheduled_visit_for'
    %td.actions
      = link_to(t('.new_scheduled_visit'), {}, :id => 'new-scheduled-visit')
