%tr
  %td= link_to t("tasks.#{task.description}.description", :name => content_tag(:strong, task.for.name)), task.resolve_path
  %td.detail= link_to task.by.name, task.by if task.by
  %td{:class => "due #{task.due_in_the}"}
    = t("due.#{task.due_in_the}", :count => task.due_distance_in_weeks, :phrase => t('datetime.distance_in_weeks', :count => task.due_distance_in_weeks))