= render :partial => 'children/header', :locals => { :child => @child }
%h2= t('children.social_worker.edit.title')

- form_for @child, :url => child_social_worker_path(@child) do |form|
  .field
    - content_tag :label do
      = form.radio_button :social_worker_id, nil
      = t('children.social_worker.edit.unassigned')

  .field
    - Caregiver.by_name.each do |caregiver|
      %label.flow
        = form.radio_button :social_worker_id, caregiver.id
        .target
          = image_tag caregiver.headshot.url, :class => 'headshot'
          = caregiver.name

  .submit
    = form.submit t('children.social_worker.edit.submit')