= render :partial => 'children/header', :locals => { :child => @child }
%h2= t('headshots.edit.title')

- form_for @child, :url => child_headshot_path(@child), :html => { :multipart => true } do |form|
  = form.error_messages

  .field
    = form.label :headshot
    = form.file_field :headshot

  .submit
    = form.submit t('headshots.edit.submit')