!!! XML
!!!

%html{html_attrs}
  %head
    = stylesheet_link_tag 'reset', 'screen', :cache => true

  %body
    - if Rails.env.staging?
      #staging
        .centered
          Warning! This is the practice server. Information entered here will be deleted. The real server is
          = link_to('kituo.amani', 'http://kituo.amani').concat('.')

    - if flash.any?
      #flash
        - flash.each do |key, message|
          %div{:class => key}
            .centered
              =message

    #header
      .centered
        #title= link_to_unless_current("Amani Children's Home", '/')

        %ul#navigation
          - pending_count = Child.pending.count
          %li= link_to_with_current 'Pending'.concat(pending_count.zero? ? '' : content_tag(:span, pending_count, :class => 'badge')), pending_children_path
          %li= link_to_with_current 'Onsite', onsite_children_path
          %li= link_to_with_current 'Boarding Offsite', boarding_offsite_children_path
          %li= link_to_with_current 'Reunified', reunified_children_path
          %li= link_to_with_current 'Terminated', terminated_children_path
          %li= link_to_with_current 'Dropped Out', dropped_out_children_path

    #main
      .centered
        = yield
