!!! XML
!!!

%html{html_attrs}
  %head
    = stylesheet_link_tag 'reset', 'screen', :cache => true

  %body
    - if Rails.env.staging?
      #staging
        .centered
          Warning! This is the practice server. Information entered here will be deleted. The real server is
          = link_to('kituo.amani', 'http://kituo.amani').concat('.')

    - if flash.any?
      #flash
        - flash.each do |key, message|
          %div{:class => key}
            .centered
              =message

    #header
      .centered
        #title= link_to_unless_current("Amani Children's Home", '/')

        %ul#navigation
          %li= link_to('Children', children_path)

    #main
      .centered
        = yield